body,
html {
  background: white;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "Helvetica Neue", Verdana, Meiryo, "Yu Gothic",
    YuGothic, "M+ 1p", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 2.2rem;
  font-weight: 100;
}

a {
  color: #0076ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {
  margin-left: 15%;
  margin-right: 15%;
  font-family: "Gentium Basic", serif;
}

p#main-text {
  max-width: 896px;
}

code {
  font-family: "Source Code Pro", monospace;
  font-size: 0.7rem;
  padding: 4px 8px;
  background-color: #eee;
  border-radius: 2px;
  color: #ff539f;
  font-weight: 100;
  line-height: 1.4rem;
}
